.jersey-card {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .jersey-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .jersey-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .jersey-card p {
    font-size: 1rem;

  }
  