.likedJerseysWrapper {
    padding: 20px;
    text-align: center;
    font-family: 'Roboto Flex';
    text-decoration: none m !important;
    
}

.likedJerseysLoadingMessage {
    font-size: 18px;
}

.likedJerseysErrorMessage {
    color: red;
    font-size: 18px;
}

.likedJerseysList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 10px;
    justify-content: center; 
    text-decoration: none !important;
}


.likedJerseyItem {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s;
    position: relative; 
    overflow: hidden;
    font-family: 'Roboto Flex';
    text-decoration: none !important;
}

.likedJerseyItem:hover {
    transform: scale(1.05);
}

.likedJerseyImageWrapper {
    position: relative;
    height: 200px;
    overflow: hidden; 
    text-decoration: none !important;
}


.likedJerseyImage {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; 
    
}


.likedJerseyPriceContainer {
    display: flex; 
    align-items: center; 
    font-size: 1.2rem; 
    text-decoration: none;
}

.likedJerseyPrice {
    margin-right: 10px;
    font-size: 1rem;
}


.likedJerseyItem a {
    text-decoration: none !important;
}

.likedJerseyItem h2 {
    margin: 10px 0;
}


.likedJerseyItem {
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.decreased {
    background: rgba(128, 55, 155, 0.15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(67,62,238,0.075);
    padding: 10px;
}

.priceChangeMessage.decreased {
    color: #ffffff;
}
