body, html {
    height: 100%;
    margin: 0;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 800px;
    border-radius: 0.75rem;
    background: rgba(59, 55, 155, 0.15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(67,62,238,0.075);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin: 0 auto;
  }
  
  .title {
    text-align: left;
    font-size: 4rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1.3em;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.5rem;
    outline: 0;
    background: rgba(59, 55, 155, 0.15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(67,62,238,0.075);
    padding: 0.75rem 1rem;
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    max-width: 500px;
    margin: 1rem auto; 
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgb(36, 28, 102);
    border: none;
    border-radius: 1rem;
    font-weight: 600;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgb(163, 127, 206);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: rgb(255, 255, 255);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
    color: rgb(247, 250, 255);
  }