.registration-form {
    display: flexbox;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  .registration-form div {
    margin-bottom: 15px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .registration-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .registration-form button {
    padding: 10px;
    background-color: #e2adf2;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #e2adf2;
  }
  
  .error {
    color: red;
    font-size: 0.875em;
  }
  