/* Root */
:root {
  font-family: 'Judson', serif;
  line-height: 1.5;
  font-weight: 450;
  width: 100%;

  color-scheme: light dark;
  background: #120250;
  background: -webkit-linear-gradient(186deg, #120250 0%, #60028b 100%);
  background: linear-gradient(186deg, #120250 0%, #60028b 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Layout container */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Logo */
.logo {
  font-size: 1rem;
  font-weight: bold;
}

/* Search bar */
.search {
  display: flex;
  align-items: center;
}

.search__input {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background: rgba(150, 107, 188, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(150, 107, 188, 0.25);
  padding: 5px 10px;
  border-radius: 10px;
  height: 30px;
  width: 15rem;
}

.search__input::placeholder {
  color: #fff;
  font-size: 14px;
}

.search__button {
  background: rgba(150, 107, 188, 0.5);
  border: 1px solid rgba(150, 107, 188, 0.25);
  padding: 5px 10px;
  margin-left: 0.5rem;
  border-radius: 10px;
}

.search__button:hover {
  cursor: pointer;
}

/* Menu */
.menu {
  display: flex;
  gap: 1rem;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

/* Main content */
main {
  flex: 1;
  padding: 1rem;
  width: 100%;
  max-width: 1200px; /* Ensure content width does not exceed container */
  margin: 0 auto;
}

/* Footer */
footer {
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .search {
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
  }

  .search__input {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  .search__input {
    width: 100%;
  }

  .menu a {
    font-size: 0.9rem;
  }
}
